h1 {
  font-size: 3em;
}

article {
  border: 1px solid #734B5E;
  max-width: 45em;
  padding: 1em;
  min-height: 80vh;
  margin-left: 1em;
}

::selection{
  background: #734B5E;
  color: #FFF;
}

.App {
  font-family: sans-serif;
  min-height: 1200px;
  color: #495867;
}

.header {
  padding: 1em;
}

.App-link {
  color: #61dafb;
}

