h1 {
  font-size: 3em;
}
strong {
  font-weight: bold;
}

article {
  border: 1px solid #734B5E;
  max-width: 45em;
  padding: 1.5em;
  margin: 1em;
  min-height: 80vh;
  line-height: normal;
}

button{
  background: #FFF;
  border: none;
  font-size: 1em;
  text-decoration: underline;
}

::selection{
  background: #734B5E;
  color: #FFF;
}

.App {
  font-family: sans-serif;
  min-height: 1200px;
  color: #495867;
  padding: 1em;
}

.header {
}

.App-link {
  color: #61dafb;
}

