html{
  font-size:16px;
  box-sizing: border-box;
  color: #00003b;
}

h1 {
  font-size: 3em;
  color: #00003b;
}
p {
  line-height:1.6;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}

article {
  display:block;
  border-bottom: 1px solid;
  border-top: 1px solid;
  padding: 1rem 0 1rem;
  min-height: 80vh;
  line-height: normal;
}

button{
  color: inherit;
  font-size: 1rem;
  background: #FFF;
  border: none;
  text-decoration: underline;
}

button:focus{
  outline:0;
}

::selection{
  background: #734B5E;
  color: #FFF;
}

.App {
  margin: 1rem 1rem 2rem;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}

.BlogHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.Container{
  width: 100%;
  max-width: 45rem;
  background-color: #FFF;
  padding: 1rem;
}

.Nav{
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

